<div class="footer text-center spacer">
	<div class="row" style="margin:0 0;">
		<div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:2em;">
			<div class="col-sm-12 col-xs-12 col-md-12 fusion-rights">
				<span style="color:#fdad3c;">Copyright© 2016 </span>| All rights reserved. | Sponsored by FATJ.
			</div>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-sm hidden-xs" style="margin-top:1em;">
			<a href="https://www.facebook.com/findatruckerjob/" title="Visit us at facebook!" class="social-position"><%= image_tag("https://s3-us-west-2.amazonaws.com/fatj/redesign-10-17/facebook.png",class:"social-links") %></a>
			<a href="https://twitter.com/findatruckerjob" title="Follow us on twitter!" class="social-position"><%= image_tag("https://s3-us-west-2.amazonaws.com/fatj/redesign-10-17/twitter.png",class:"social-links") %></a>
		</div>
	</div>
</div>